mat-dialog-actions {
  flex-direction: row-reverse;
}

h1 {
  color: blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h3 {
  color: dimgray;
}

p {
  margin-bottom: 3vh;
}

button {
  margin-left: 3vw;
}
